.Navbarli a{
    position: relative;
}
.Navbarli a::after{
    content: '';
    width: 0%;
    height: 1px;
    padding: 0 0 1px 0;
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.5s all;
}

.Navbarli a:hover:after{
    width: 100%;
}