@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: HORIZONTAL;
    src: url(../public/Font/Shabnam-FD-WOL.ttf);
}

p {
    font-family: HORIZONTAL;
}

a {
    font-family: HORIZONTAL;
}

button {
    font-family: HORIZONTAL;
}

@layer components {
    .Remove_Icon {
        @apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
    }
}

