@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: HORIZONTAL;
    src: url(../public/Font/Shabnam-FD-WOL.ttf);
}

p {
    font-family: HORIZONTAL;
}

a {
    font-family: HORIZONTAL;
}

button {
    font-family: HORIZONTAL;
}

@layer components {
    .Remove_Icon {
        @apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
    }
}

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 15px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius:8px;

    
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #ADADAD;
    border-radius:8px;

  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #8f8f8f;
  }
}