@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: HORIZONTAL;
    src: url(../public/Font/Shabnam-FD-WOL.ttf);
}

p {
    font-family: HORIZONTAL;
}

a {
    font-family: HORIZONTAL;
}

button {
    font-family: HORIZONTAL;
}